* {
    margin: 0 auto;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}
 
body {
    background-color: gray;
}
 
.fullwrap {
    width: 640px;
    background: white;
    margin: 20px auto;  
}
 
.header{
    margin: 0px auto;
    width: 640px;
}
 
.text {
    width: 540px;
    color: #000;
    font-size: 16px;
    line-height: 23px;
    background-color: #fff;
    margin-top: 10px;
}

p {
    margin-top: 30px;
}

.linkColor{
    color: blue;
}

.allotmentText {
    font-weight: bold;
}
 
.centertext {
    text-align: center;
}
 
.rowOne {
    width: 540px;
    margin-top: 10px;
}
 
.colomRowOne {
    width: 255px;
    float: left;
    margin: 10px 15px 0 0;
}
 
.firstImg {
    width: 255px;
    height: 213px;
}
 
.firstbuttons {
    width: 255px;
    height:50px;
    background: red;
    font-weight: bold;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 15px;
    margin-top: 15px;
}
.rowTwo {
    width: 540px;
    margin-top: 10px;   
}
 
.colomrowTwo {
    width: 160px;
    float: left;
    margin: 10px 20px 0 0;
}
 
.second-image {
    width: 160px;
    height: 213px;
}

.secondbuttonOne {
    width: 160px;
    height:40px;
    background: red;
    font-weight: bold;
    border-radius: 6px;
    border:  none;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 38px;
}

.secondbuttons {
    width: 160px;
    height:40px;
    background: red;
    font-weight: bold;
    border-radius: 6px;
    border:  none;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
}
.new {
    font-style: italic;
}
 
button {
    width: 540px;
    height:40px;
    background: red;
    font-weight: bold;
    border-radius: 6px;
    border:  none;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin: 20px 0 20px;
}
 
.clearfix {
    clear:both;
}
 
.footer {
    width: 640px;
    height: 100px; 
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin: 20px auto;  
}
 
.footer a {
    font-weight: bold;
    color: #fff;
}