.parent {
  min-width: 100px;
  min-height: 400px;
  background: #FF6600;
  padding: 1px;
  margin: 5px; 
}
.rows {
  min-width: 200px;
  min-height: 100px;
  background: #00F1FF;
  padding: 2px;
  margin: 10px; 
}

.colom {
  min-width: 20%;
  min-height: 500px;
  background:green;
  float:right;
  padding: 0px;
  margin: 9px; 
}
.main {
  min-width: 70%;
  min-height: 500px;
  background:green;
  float:left;
  padding: 0px;
  margin: 9px; 
}